@font-face {
  font-family: "Avenir Next Rounded Pro Medium";
  font-style: normal;
  font-weight: normal;
  src: local("Avenir Next Rounded Pro Medium"),
    url(./fonts/AvenirNextRoundedProMedium.woff) format("woff");
}
@font-face {
  font-family: "Avenir Next Rounded Pro Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Avenir Next Rounded Pro Regular"),
    url(./fonts/AvenirNextRoundedProRegular.woff) format("woff");
}
@font-face {
  font-family: "Montserrat-Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Montserrat-Regular"),
    url(./fonts/Montserrat-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Montserrat-Medium";
  font-style: normal;
  font-weight: normal;
  src: local("Montserrat-Medium"),
    url(./fonts/Montserrat-Medium.ttf) format("truetype");
}
@font-face {
  font-family: "Montserrat-Bold";
  font-style: normal;
  font-weight: normal;
  src: local("Montserrat-Bold"),
    url(./fonts/Montserrat-Bold.ttf) format("truetype");
}
body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  background: #0f78a9;
}
a {
  text-decoration: none;
}

.container nav {
  width: 100%;
  height: 3rem;
  background: #ffffff;
  display: flex;
  align-items: center;
  padding-left: 1rem;
  box-sizing: border-box;
}
.container main {
  /* background-color: yellow; */
  height: calc(100vh - 3rem);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.logo {
  margin-top: 8%;
  padding: 0 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo p {
  color: #ffffff;
  font-family: "Montserrat-Regular";
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  letter-spacing: 0.55px;
  margin-top: 2rem;
}
.container__cards {
  width: 100%;
  margin-bottom: 2rem;
  /* background-color: #ffffff; */
}
.container__cards h4 {
  text-align: center;
  padding: 0;
  margin: 0 0 25px 0;
  font-family: "Montserrat-Medium";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  letter-spacing: 0.55px;
  color: #ffffff;
}

.cards_slice {
  width: 100%;
  /*  background-color: #819eac; */
  box-sizing: border-box;
  padding: 0 4%;
  display: flex;
  /* overflow-x: hidden; */
}

.cards_slice .card {
  width: 17.25rem;
  height: 9.25rem;
  background: #ffffff;
  box-shadow: 0px 7.2918px 21.8754px rgba(129, 129, 129, 0.15);
  border-radius: 9.11475px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 2.375rem;
  padding: 0 0.7rem;
  box-sizing: border-box;
  cursor: pointer;
}

.cards_slice .card:hover {
  animation: pulse 1s;
  filter: drop-shadow(0 7.29px 21.88px rgba(129, 129, 129, 0.15));
}

#content {
  padding: 0 4%;
}

.cards_slice .card img {
  width: 100%;
}

.container_content {
  display: flex;
  margin-top: 2rem;
}

.container_left {
  width: 50%;
}

.container_right{
  background: url('/images/wikipedia_bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 50%;
}

@media (max-width: 1200px) {
  .logo {
    margin-top: 10%;
    padding: 0 8%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .logo img {
    width: 50%;
  }
}
