@font-face {
  font-family: "Avenir Next Rounded Pro Medium";
  font-style: normal;
  font-weight: normal;
  src: local("Avenir Next Rounded Pro Medium"),
    url(./fonts/AvenirNextRoundedProMedium.woff) format("woff");
}
@font-face {
  font-family: "Avenir Next Rounded Pro Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Avenir Next Rounded Pro Regular"),
    url(./fonts/AvenirNextRoundedProRegular.woff) format("woff");
}
body {
  margin: 0;
  padding: 0;
  background-image: url(./images/bg.jpg);
}
a {
  text-decoration: none;
}
/* Aquí se cambia el bakground */
.o-container-apps {
  position: fixed;
  height: 100vh;
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: -1;
  /* filter: blur(5px); */
}
/* Aquí se cambia la capa que cubre el background */
.layer {
  position: absolute;
  background: url(./images/layer.png);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  z-index: -1;

  opacity: 0.8;
  filter: blur(25px);
}
.o-container-grid {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.o-content-grid {
  /* background: chocolate; */
  width: 95%;
  height: auto;

  display: flex;
  flex-direction: column;
  /* background-color: aqua; */
}
.o-app-grid {
  display: grid;
  gap: 1.3rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.o-content-cards {
  /* background-color: tomato; */
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1.8rem;
}
.o-content-cards p {
  font-size: 1.5em;
  /* letter-spacing: 0.1em; */
  font-family: "Avenir Next Rounded Pro Medium";
  color: white;
  /* padding-bottom: 1em; */
}
.o-card-app {
  /* background: #fafafa; */
  width: auto;
  height: auto;
  /* margin-bottom: 0.8rem; */
}
.o-card {
  /* background-color: thistle; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 800px) {
  .o-container-apps {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .o-container-grid {
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    justify-content: flex-start;
    /* background-color: aqua; */
  }
}
