body {
  font-family: "Montserrat", sans-serif !important;
  background: linear-gradient(
    0.84deg,
    #393939 0.89%,
    rgba(249, 243, 243, 0) 47.35%
  );
  overflow: hidden;
  background-color: #f8f7f7 !important;
}

header {
  width: 100%;
  background: white;
  padding: 0.5rem 1rem;
}

header .logo {
  cursor: pointer;
}

.container_info {
  padding: 5rem !important;
}

.description {
  font-weight: 400;
}

.btn_go {
  background: #0c5eaa;
  border-radius: 4px;
  padding: 10px 24px;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 121px;
  height: 40px;
  text-decoration: none;
}

.btn_go:hover {
  background: #127ada;
  color: white;
}

.btn_go::after {
  content: url("/img/arrow_btn.svg");
}

.img_col img {
  margin-top: -4rem;
  width: 100%;
}

#row_cards {
  overflow-x: auto;
  flex-wrap: nowrap !important;
  margin-top: -7rem;
  gap: 2rem;
  padding-left: 4rem;
}

.img-thumbnail {
  max-width: fit-content !important;
  border-radius: 9.11475px !important;
  cursor: pointer;
  margin-top: 3rem;
  margin-bottom: 3rem;
  box-shadow: 0px 7.2918px 21.8754px rgba(129, 129, 129, 0.15);
}

.img-thumbnail:hover {
  transform: scale(1.2);
  box-shadow: 0px 0px 27px rgba(135, 217, 255, 0.74);
  border-radius: 10px;
}

.arrow {
  display: none;
}

/* ------------------------------ Media Queries ----------------------------- */

@media (max-width: 1600px) {
  .title_explore {
    margin-top: 4rem;
  }
  .description {
    font-size: 18px;
  }
  #row_cards {
    margin-top: -11rem;
    gap: 5rem;
  }

  .img_col img {
    width: 95%;
  }
  .col-left {
    width: 58.33333333% !important;
  }
}

@media (max-width: 1400px) {
  #row_cards {
    margin-top: -10rem;
  }
}

@media (max-width: 1200px) {
  .img_title {
    width: 50%;
  }
  .description {
    font-size: 16px;
  }
  #row_cards {
    margin-top: -7rem;
    gap: 8rem;
  }
}

@media (max-width: 992px) {
  .col-left {
    width: 100% !important;
  }
  .img_col {
    display: none;
  }
  #row_cards {
    gap: 10rem;
  }
}

@media (max-width: 768px) {
  #row_cards {
    gap: 12rem;
  }
}

@media (max-width: 576px) {
  body {
    background-color: #f8f7f7 !important;
    background: none;
    overflow: auto;
  }
  header {
    text-align: center;
  }
  #row_cards {
    display: none;
  }
  .img_title {
    width: 50%;
  }
  .container_info {
    padding: 1rem !important;
  }
  #row_info {
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }
  .img_col {
    display: block;
    width: 86% !important;
    margin-top: 5rem !important;
  }
  .img_col img {
    width: 100%;
  }
  .description {
    color: #272626;
    text-align: initial;
  }
  .btn_go {
    width: 100%;
    justify-content: center;
  }
  .arrow {
    display: block;
    position: absolute;
    top: 3.5rem;
    left: 1rem;
  }
}